{% extends 'blog/base.html' %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Animes</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- Con esto Funciona el Slide -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="fontawesome-free-5.10.2-web/css/all.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/Accordion.css">
  <link rel="stylesheet" href="css/socialbar.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/Filtro.css">
</head>

<body background="img/FondodePagina.jpg">


  <header class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Logo de La Pagina -->
    <a class="navbar-brand" href="#">
      <img src="" alt="logo" style="width:40px;">

      <a class="navbar-brand" href="Index.html">OxiAnime</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="Registro.html">Registro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Ingreso.html">Ingreso</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Animes.html">Anime</a>
          </li>
        </ul>
      </div>
  </header>
  <br>

  <main>
    <section>
      <h2>Lista de Animes:</h2>
      <br>

      <div class="flex-container">

        <div class="container">
          <img src="img/DrStonePortada.jpg" alt="Avatar" class="image">
          <div class="overlay">
            <div class="text">Dr. Stone <br></div>
          </div>
        </div>
        <div class="container">
          <img src="img/DragonBallZPortada.jpg" alt="Avatar" class="image">
          <div class="overlay">
            <div class="text">Dragon Ball Z <br></div>
          </div>
        </div>
        <div class="container">
          <img src="img/NarutoPortada.jpg" alt="Avatar" class="image">
          <div class="overlay">
            <div class="text">Naruto <br></div>
          </div>
        </div>
        <div class="container">
          <img src="img/YoujoSenkiPortada.jpg" alt="Avatar" class="image">
          <div class="overlay">
            <div class="text">Youjo Senki <br></div>
          </div>
        </div>
      </div>
      <div class="flex-container">

        <div class="container">
          <img src="img/Berserk2016Portada.jpg" alt="Avatar" class="image">
          <div class="overlay">
            <div class="text">Berserk 2016 <br></div>
          </div>
        </div>
        <div class="container">
          <img src="img/SAOPortada2.jpg" alt="Avatar" class="image">
          <div class="overlay">
            <div class="text">Sword Art Online <br></div>
          </div>
        </div>
        <div class="container">
          <img src="img/VinlandSagaPortada.jpg" alt="Avatar" class="image">
          <div class="overlay">
            <div class="text">Vinland Saga <br></div>
          </div>
        </div>
        <div class="container">
          <img src="img/Uchi-no-Ko-no-TamePortada.jpg" alt="Avatar" class="image">
          <div class="overlay">
            <div class="text">Uchi no Ko no Tame <br></div>
          </div>
        </div>
      </div>
      <div class="flex-container">

        <div class="container">
          <img src="img/KimetsunoYaibaPortada.jpg" alt="Avatar" class="image">
          <div class="overlay">
            <div class="text">Kimetsu no Yaiba <br></div>
          </div>
        </div>
        <div class="container">
          <img src="img/OverlordPortada.jpg" alt="Avatar" class="image">
          <div class="overlay">
            <div class="text">Overlord <br></div>
          </div>
        </div>
        <div class="container">
          <img src="img/OnePunchMan2Portada.jpg" alt="Avatar" class="image">
          <div class="overlay">
            <div class="text">One Punch Man Season 2 <br> </div>
          </div>
        </div>
        <div class="container">
          <img src="img/hai-to-gensou-no-grimgar-levelPortada.jpg" alt="Avatar" class="image">
          <div class="overlay">
            <div class="text">hai to gensou no grimgar level <br></div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <br>


  <script src="js/Filtro.js"></script>

</body>

</html>