{% load staticfiles %}
<html>

<head>
  <title>Novedades</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <!-- Con esto Funciona el Slide -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/Accordion.css' %}">
  <link rel="stylesheet" href="{% static 'css/socialbar.css' %}">
  <link rel="stylesheet" href="{% static 'css/dropout.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <header class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Logo de La Pagina -->
    <a class="navbar-brand" href="#">
      <img src="{% static 'img/NeroClaudius.gif'%}" alt="logo" style="width:40px;">

      <a class="navbar-brand" href="/">OxiAnime</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="Registro.html">Registro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Ingreso.html">Ingreso</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Animes.html">Anime</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="post_list.html">Novedades</a>
          </li>
          <li>
            <div class="dropdown">
              <button class="dropbtn"><i class="fa fa-user-o" aria-hidden="true"></i></button>
              <div class="dropdown-content">
                <a href="#">Cuenta</a>
                <a href="#">Cerrar Sesion</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
  </header>
  <br>
  <div class="page-header">
    <h1><a href="/"></a></h1>
  </div>
  <div class="content container">
    <div class="row">
      <div class="col-md-8">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>
</body>


</html>