{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block content %}
{% load socialaccount %}
{% providers_media_js %}
<title>Inicio de Sesion</title>
<link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{% static 'fontawesome-free-5.10.2-web/css/all.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/Filtro.css' %}">
<link rel="stylesheet" href="{% static 'css/Login.css' %}">
<link rel="stylesheet" href="{% static 'css/dropout.css' %}">
<link rel="stylesheet" href="{% static 'css/container.css' %}">


<body>

    
        <form action="/" method="post">{% csrf_token %}
                <h3 class="mb-4">Iniciar sesión</h3>
                {% if form.non_field_errors %}
                  <p style="color:red">Usuario o contraseña incorrectos, prueba de nuevo.</p>
                {% endif %}
                <p>
                  <input type="text" name="username" autofocus maxlength="12" required
                    id="id_username" class="form-control" placeholder="Nombre de usuario"/>
                </p>
                <p>
                  <input type="password" name="password" required
                    id="id_password" class="form-control" placeholder="Contraseña"/>
                </p>
                <p><input type="submit" class="btn btn-primary btn-block" value="Ingresar"></p>
              </form>


<div>
    <a href="{% provider_login_url 'facebook' method='js_sdk' %}"
        style="color: rgb(35, 64, 102); font-size: 50px; margin: 10px;"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
</div>



<div class="vacio" style="height: 500px"> </div>
{% endblock %}
</body>
