<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Con esto Funciona el Slide -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="fontawesome-free-5.10.2-web/css/all.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/Filtro.css">
    <link rel="stylesheet" href="css/Login.css">
</head>


<body background="img/FondodePagina.jpg">
    <header class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Logo de La Pagina -->
        <a class="navbar-brand" href="#">
            <img src="" alt="logo" style="width:40px;">

            <a class="navbar-brand" href="Index.html">OxiAnime</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="Registro.html">Registro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Ingreso.html">Ingreso</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Animes.html">Anime</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="base.html">Novedades</a>
                          </li>
                </ul>
            </div>
    </header>
    <br>

    <div class="container">
        <form action="/action_page.php">
            <div class="row">
                <div class="vl">
                    <span class="vl-innertext">O</span>
                </div>

                <div class="col">
                    <a href="#" class="fb btn">
                        <i class="fa fa-facebook fa-fw"></i> Ingresar Con Facebook
                    </a>
                    <a href="#" class="twitter btn">
                        <i class="fa fa-twitter fa-fw"></i> Ingresar Con Twitter
                    </a>
                    <a href="#" class="google btn"><i class="fa fa-google fa-fw">
                        </i> Ingresar Con Google+
                    </a>
                </div>

                <div class="col">
                    <div class="hide-md-lg">
                    </div>
                    <input type="text" name="username" placeholder="Username" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <input type="submit" value="Login">
                </div>

            </div>
        </form>
    </div>

    <div class="bottom-container">
        <div class="row">
            <div class="col">
                <a href="#" style="color:rgb(44, 44, 44)" class="btn">Ingresar</a>
            </div>
            <div class="col">
                <a href="#" style="color:rgb(44, 44, 44)" class="btn">Olvidaste tu Contraseña?</a>
            </div>
        </div>
    </div>

</body>

</html>